<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085563366963-vrp12cmaagrt15b4di09c63c3e6av3ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085563366963-vrp12cmaagrt15b4di09c63c3e6av3ln</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1085563366963-nd2647qk5s2aqo7qlb1sk595aq05aqdg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlzsZbOnqKZij4HHRA-44-YH5pcx43_L8</string>
	<key>GCM_SENDER_ID</key>
	<string>1085563366963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftsol.bankup.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testbankup</string>
	<key>STORAGE_BUCKET</key>
	<string>testbankup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085563366963:ios:dc62ebd59684a8d3103d46</string>
</dict>
</plist>